# Token from Discord's developer portal
DISCORD_TOKEN=

# Role IDs from Discord server
ADMIN_ROLE_ID=
DRIVER_ROLE_ID=

# Channel IDs from Discord server
POLL_CHANNEL_ID=
STANDINGS_CHANNEL_ID=
RANKING_CHANNEL_ID=
COMMANDS_CHANNEL_ID=